@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  /* height: 100vh;
  width: 100%; */
  margin: 0 auto;

  background-color: #0E1112 !important;
  color: #F2F6F9;

  font-family: Montserrat;
  font-weight: 500;

  padding: 0 2vw;


}

.App {
  display: flex;
  /* justify-content: space-between; */
  margin: auto;
  background-color: #0E1112;
}

.mainPage-container {
  width: 100%;
  /* height: 93vh 740px; */
  display: flex;
  overflow: scroll;
}



